{% extends 'base.html' %}

{% block contents %}

{% if user.is_active %}
<body>
        <div class="containner">
            <form action="{%url 'create'%}">
                <h4>제목:</h4>
                <input type="text" name="title">
                <br>
                <br>
                <h4>본문:</h4>
                <textarea cols=40 rows=10 name="body"></textarea>
                <br>
                <br>
                <input class="btn btn-dark" type="submit" value="제출하기">
            </form>
        </div>
</body>

{% else %}
<div class="container">

        <h1>Login</h1>
        
        <form method = "POST" action="{%url 'login'%}">
            {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" value="">
            <br>
            Password:
            <br>
            <input name="password" type="password" value="">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Login">
        
        </form>
        </div>
    <body>

{% endif %}

{% endblock %}